*{
    margin: 0;
    padding: 0;
}

html, body{
    min-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    font-size: 1em;
}

input[type=text]{
    background: transparent;
    border: none;
    border-bottom: solid black thin;
    font-family: Arial, sans-serif;
}

input[type=text]:active, input[type=text]:focus{
    outline: none;
    background: rgba(100,140,200,0.5);
}

button{
    min-width: 5rem;
    min-height: 2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

